<div class="row">
  <div class="col-sm-12">
    <i class="fa pull-right" [ngClass]="{'fa-th-list':!toggle,'fa-th-large':toggle}" (click)="togle()" aria-hidden="true"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 coupon-sidebar">
    <div style="height: 800px;padding: 5px 0px;">
      <p><strong>Search</strong></p>
      <p><input type="text" style="width:100%;" /></p>
      <p><strong>Test</strong></p>
      <div style="height: 200px;overflow-y: auto;">
      <label class="checkcontainer">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
       <label class="checkcontainer">Five
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
       <label class="checkcontainer">Six
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
       <label class="checkcontainer">Seven
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      </div>
      <!--<ul style="padding: 5px 10px;list-style: none;">
        <li><input type="checkbox" name="vehicle1" value="Bike1"> I have a bike1</li>
        <li><input type="checkbox" name="vehicle2" value="Bike2"> I have a bike2</li>
        <li><input type="checkbox" name="vehicle3" value="Bike3"> I have a bike3</li>
        <li><input type="checkbox" name="vehicle4" value="Bike4"> I have a bike4</li>
        <li><input type="checkbox" name="vehicle5" value="Bike5"> I have a bike5</li>
        <li><input type="checkbox" name="vehicle6" value="Bike6" checked> I have a bike6</li>
      </ul>-->
      <p><strong>Test</strong></p>
      <label class="checkcontainer">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <p><strong>Test</strong></p>
      <label class="checkcontainer">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkcontainer">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="col-md-9 col-sm-6">
    <div class="row">
      <div *ngFor="let coupon of coupons; let i = index" class="col-md-4 col-sm-6" id="coupon-{{i + 1}}" [ngClass]="{'show':toggle,'hide':!toggle}">
        <div class="coupon">
          <div class="img-preview">
            <div class="heart"><a href="#"><i class="fa fa-star-o"></i></a></div><img src="./assets/stores/{{coupon.storeImage}}" alt="">
            <div class="text-preview">{{coupon.textPreview}}</div>
          </div>
          <div class="info">
            <h5 title="{{coupon.title}}">{{coupon.title}}</h5>

            <div class="store-link">By <a href="{{coupon.storeLink}}">Coverfox Ins</a>
              <a href="{{coupon.ratingLink}}">
                <div class="rating-star">
                  <a *ngFor="let rate of coupon.rating;"><i class="fa" [ngClass]="{'fa-star-o':!rate,'fa-star':rate}"></i></a>({{getStarCount(coupon)}})
                </div>
              </a>
            </div>
          </div>
          <div class="link">
            <a href="#" class="btn btn-info" [attr.data-cpid]="coupon.Id" (click)="openCouponModal(coupon)">Get Coupon</a>
          </div>
          <div class="stats">{{coupon.stats}}</div>
          <div class="date"><span class="expires">{{coupon.expires}}</span>
          </div>
        </div>
      </div>
      <div *ngFor="let coupon of coupons; let i = index" class="col-md-12 col-sm-12" id="coupon-{{i + 1}}" [ngClass]="{'show':!toggle,'hide':toggle}">
        <div class="coupon">
          <div class="img-preview">
            <div class="heart"><a href="#"><i class="fa fa-star-o"></i></a></div><img src="./assets/stores/{{coupon.storeImage}}" alt="">
            <div class="text-preview">{{coupon.textPreview}}</div>
          </div>
          <div class="info">
            <h5 title="{{coupon.title}}">{{coupon.title}}</h5>

            <div class="store-link">By <a href="{{coupon.storeLink}}">Coverfox Ins</a>
              <a href="{{coupon.ratingLink}}">
                <div class="rating-star">
                  <a *ngFor="let rate of coupon.rating;"><i class="fa" [ngClass]="{'fa-star-o':!rate,'fa-star':rate}"></i></a>({{getStarCount(coupon)}})
                </div>
              </a>
            </div>
          </div>
          <div class="link">
            <a href="#" class="btn btn-info" [attr.data-cpid]="coupon.Id" (click)="openCouponModal(coupon)">Get Coupon</a>
          </div>
          <div class="stats">{{coupon.stats}}</div>
          <div class="date"><span class="expires">{{coupon.expires}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{coupon.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{coupon.textPreview}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->